# Welcome to schemas.science

## What is schemas.science?

**[schemas.science](https://schemas.science)** is a community effort which aims at improving the Findability on the Web
of scientific research data, products and resources. It does this by encouraging the use
of [Schema.org](https://schema.org/) markup in their
websites so that they are indexable by search engines and other services. schemas.science encourages the consistent use
of markup tailored for diverse scientific domains. This structured information then makes it easier to
discover, collate, analyse and consume distributed resources.

## Cross domain schemas
{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
