{% extends "page.tmpl" %}
{% block content %}

| Name              | Description                          |
| :---------------- | :----------------------------------- |
{% for p in profiles -%}
| {{p["name"]}} | {{p["description"]}}  |
{% endfor %}

{% endblock %}