{% extends "single_profile.tmpl" %}
{% block content %}
| Name              | Description                          |
| :---------------- | :----------------------------------- |
{% for p in properties -%}
| {{p["name"]}} | {{p["description"]}}  |
{% endfor %}

{% endblock %}